NODE_ENV=development
PORT=3000

# Conexión a PostgreSQL (Si la contraseña contiene '@', se codifica como '%40')
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mecanicaKart?schema=public"

# Autenticación JWT
JWT_SECRET="mekaturn_super_secret_jwt_key_2026_x99_change_in_production"
JWT_EXPIRES_IN="8h"

# CORS
FRONTEND_URL="http://localhost:5173"
